In [1]:
#memasukkan data yang diinginkan
nama = "Ni Kadek Wulanda Asmara Santhi"
umur = "19 tahun"
alamat = "Banjar Batugaing Kaja, Desa Beraban, Kediri, Tabanan"
pekerjaan = "Pelajar/Mahasiswa"

#mencetak biodata mahasiswa
print("Nama : "+ nama)
print("Umur : "+ umur)
print("Alamat : "+ alamat)
print("Pekerjaan : "+ pekerjaan)

Nama : Ni Kadek Wulanda Asmara Santhi
Umur : 19 tahun
Alamat : Banjar Batugaing Kaja, Desa Beraban, Kediri, Tabanan
Pekerjaan : Pelajar/Mahasiswa

In [2]:
#memasukkan inputan yang diinginkan
nama = input("Siapakah nama mu? ")
kegiatan = input("Sedang apakah kamu hari ini, "+ nama +"? ")

#mencetak tampilan yang diinginkan
print("Semangat "+ kegiatan +" nya ya, "+ nama +"!")

Siapakah nama mu? Wulan
Sedang apakah kamu hari ini, Wulan? belajar menggunakan Python
Semangat belajar menggunakan Python nya ya, Wulan!

In [3]:
#mencetak tampilan yang diinginkan
print("Saya sedang belajar menggunakan Python hari ini.")

Saya sedang belajar menggunakan Python hari ini.

In [4]:
#memasukkan inputan yang diinginkan
uang_di_dompet = input("Berapakah jumlah uang di dompet mu? ")
uang_di_koperasi = input("Berapakah jumlah uang mu di koperasi? ")

#menjumlahkan total uang
total_uang = int(uang_di_dompet) + int(uang_di_koperasi)

#mencetak hasil
print("Total jumlah uang mu adalah Rp "+ str(total_uang))

Berapakah jumlah uang di dompet mu? 50000
Berapakah jumlah uang mu di koperasi? 100000
Total jumlah uang mu adalah Rp 150000

In [5]:
#memasukkan inputan angka
angka1 = input("Masukkan angka pertama : ")
angka2 = input("Masukkan angka kedua : ")
angka3 = input("Masukkan angka ketiga : ")

#menjumlahkan angka
penjumlahan = int(angka1) + int(angka2) + int(angka3)

#mencetak hasil
print("Hasil penjumlahan dari "+ angka1 + ", "+ angka2 +", dan " + angka3 + " adalah "+ str(penjumlahan))

Masukkan angka pertama : 3
Masukkan angka kedua : 6
Masukkan angka ketiga : 9
Hasil penjumlahan dari 3, 6, dan 9 adalah 18

In [20]:
#memasukkan nilai panjang dan lebar dalam persegi panjang
panjang = 15
lebar = 5

#mengalikan panjang dan lebar persegi panjang
luas = panjang*lebar

#mencetak hasil
print("Luas persegi panjang adalah "+ str(luas) + " cm.")

Luas persegi panjang adalah 75 cm.

In [7]:
#memasukkan inputan nama
nama = input("Masukkan nama Anda : ")

#mencetak hasil yang diinginkan
print("Hallo, "+ nama + "! Selamat datang di Program Studi Matematika, Universitas Udayana")

Masukkan nama Anda : Wulan
Hallo, Wulan! Selamat datang di Program Studi Matematika, Universitas Udayana

In [8]:
#memasukkan inputan yang diinginkan
harga_barang1 = input("Berapakah harga buku yang kamu beli? ")
harga_barang2 = input("Berapakah harga pulpen yang kamu beli? ")

#mencari total harga seluruh barang 
total_harga = int(harga_barang1) + int(harga_barang2)

#mencetak hasil
print("Jadi, total harga yang harus kamu bayar adalah "+ str(total_harga))

Berapakah harga buku yang kamu beli? 5000
Berapakah harga pulpen yang kamu beli? 3000
Jadi, total harga yang harus kamu bayar adalah 8000

In [9]:
#mencetak judul
print("---Jumlah Mahasiswa Angkatan 2022 Program Studi Matematika---")

#mencetak dan memasukkan inputan jumlah mahasiswa per kelas
kelasA = input("Jumlah mahasiswa kelas A : ")
kelasB = input("Jumlah mahasiswa kelas B : ")

#menentukan jumlah seluruh mahasiswa
total_mahasiswa = int(kelasA) + int(kelasB)

#mencetak hasil
print("Total jumlah mahasiswa : "+ str(total_mahasiswa))

---Jumlah Mahasiswa Angkatan 2022 Program Studi Matematika---
Jumlah mahasiswa kelas A : 43
Jumlah mahasiswa kelas B : 43
Total jumlah mahasiswa : 86

In [10]:
#memasukkan panjang sisi kubus
sisi = 7

#menentukan luas kubus
luas = sisi*sisi*sisi

#mencetak hasil
print("Luas kubus tersebut adalah "+ str(luas) + " cm.")

Luas kubus tersebut adalah 343 cm.

In [11]:
#memasukkan inputan pembayaran listrik
bulan1 = 250000
bulan2 = 200000
bulan3 = 300000
bulan4 = 200000

#menjumlahkan total pembayaran
total = int(bulan1) + int(bulan2) + int(bulan3) + int(bulan4)

#mencetak hasil
print("Total pembayaran listrik selama 4 bulan adalah Rp "+ str(total))

Total pembayaran listrik selama 4 bulan adalah Rp 950000

In [21]:
#memasukkan inputan pembayaran listrik
bulan1 = 250000
bulan2 = 200000
bulan3 = 300000
bulan4 = 200000

#menjumlahkan total pembayaran
total = int(bulan1) + int(bulan2) + int(bulan3) + int(bulan4)

#mencetak hasil
print("---Dialog Pembayaran Listrik---")
print("A : Selamat siang, Pak. Saya ingin membayar listrik 4 bulan terakhir. Apakah bisa, Pak?")
print("B : Bisa, Pak.")
print("A : Jadi berapa total yang harus saya bayar, Pak?")
print("B : Totalnya Rp " + str(total) + ", Pak.")
print("A : Baik, Pak. Ini saya bayar.")
print("B : Baik, Pak. Terimakasih.")

---Dialog Pembayaran Listrik---
A : Selamat siang, Pak. Saya ingin membayar listrik 4 bulan terakhir. Apakah bisa, Pak?
B : Bisa, Pak.
A : Jadi berapa total yang harus saya bayar, Pak?
B : Totalnya Rp 950000, Pak.
A : Baik, Pak. Ini saya bayar.
B : Baik, Pak. Terimakasih.

In [19]:
#memasukkan inputan yang diinginkan
nama = input("Hai, boleh kenalan ga? Nama mu siapa? ")
pekerjaan = input("Kalau boleh tau pekerjaan mu apa ya? ")
waktu = input("Oh, sudah berapa lama? ")

#mencetak hasil yang diinginkan
print("Jadi, nama mu " + nama + " yah, seorang " + pekerjaan + " dan baru menginjak " + waktu + ". Salam kenal yah!")

Hai, boleh kenalan ga? Nama mu siapa? Wulan
Kalau boleh tau pekerjaan mu apa ya? Mahasiswa
Oh, sudah berapa lama? Semester 2
Jadi, nama mu Wulan yah, seorang Mahasiswa dan baru menginjak Semester 2. Salam kenal yah!

In [14]:
#memasukkan nilai panjang dan lebar persegi panjang
panjang = 10
lebar = 5

#menentukan keliling
keliling = 2*(int(panjang) + int(lebar))

#mencetak hasil
print("Jadi, keliling persegi panjang tersebut adalah " + str(keliling) + " cm.")

Jadi, keliling persegi panjang tersebut adalah 30 cm.

In [15]:
#memasukkan data yang diinginkan
buku = 500
pulpen = 350
penggaris = 200

#mencetak hasil yang diinginkan
print(buku)
print(pulpen)
print(penggaris)
print(buku*pulpen*penggaris)

500
350
200
35000000

In [16]:
#memasukkan data yang diinginkan
banyak_kaos = 20
banyak_dress = 15
banyak_handuk = 5

#mencetak hasil yang diinginkan
print(banyak_kaos)
print(banyak_dress)
print(banyak_handuk)
print(banyak_kaos + banyak_dress + banyak_handuk)

20
15
5
40

In [17]:
#memasukkan inputan nilai alas dan tinggi segitiga
alas = float(input("Masukkan nilai alas : "))
tinggi = float(input("Masukkan nilai tinggi : "))

#menentukan luas segitiga
luas = alas*tinggi/2

#mencetak hasil
print("Jadi, luas segitiga tersebut adalah "+ str(luas) + " cm.")

Masukkan nilai alas : 7
Masukkan nilai tinggi : 14
Jadi, luas segitiga tersebut adalah 49.0 cm.

In [18]:
#memasukkan data yang diinginkan
nama = "Kayla"
prodi = "Program Studi Matematika"
institusi = "Universitas Udayana"

#mencetak hasil yang diinginkan
print(nama + " diterima di "+ prodi + ", "+ institusi)

Kayla diterima di Program Studi Matematika, Universitas Udayana

In [22]:
#memasukkan inputan angka
angka1 = 6
angka2 = 2
angka3 = 4

#mencetak hasil yang diinginkan
print((angka1**angka2)/angka3)

9.0

In [24]:
#memasukkan inputan angka
angka1 = int(input("Masukkan angka 1 : "))
angka2 = int(input("Masukkan angka 2 : "))
angka3 = int(input("Masukkan angka 3 : "))

#menentukan hasil operasinya
tambah = angka1+angka2+angka3
kurang = angka1-angka2-angka3
kali = angka1*angka2*angka3
bagi = angka1/angka2/angka3

#mencetak hasil
print("Berikut hasil operasinya: ")
print("Hasil tambah : " + str(tambah))
print("Hasil kurang : " + str(kurang))
print("Hasil kali : " + str(kali))
print("Hasil bagi : " + str(bagi))

Masukkan angka 1 : 16
Masukkan angka 2 : 4
Masukkan angka 3 : 2
Berikut hasil operasinya:
Hasil tambah : 22
Hasil kurang : 10
Hasil kali : 128
Hasil bagi : 2.0

In [25]:
#memasukkan nilai sisi dan tinggi trapesium
sisi_alas = 10
sisi_atas = 5
tinggi = 7

#menentukan luas trapesium
luas = ((sisi_alas+sisi_atas)*tinggi)/2

#mencetak hasil
print("Jadi, luas trapesium tersebut adalah "+ str(luas) +" cm.")

Jadi, luas trapesium tersebut adalah 52.5 cm.

In [27]:
#memasukkan data yang diinginkan
nama = "Ni Kadek Wulanda Asmara Santhi"
nim = "2208541017"
kelas = "A"
prodi = "Matematika"
angkatan = "2022"
institusi = "Univeritas Udayana"

#mencetak hasil yang diinginkan
print("Hallo, nama saya "+ nama + " dengan NIM "+ nim + ", dari Kelas "+ kelas + ", Prodi "+ prodi +", angkatan "+ angkatan +", di "+ institusi +".")

Hallo, nama saya Ni Kadek Wulanda Asmara Santhi dengan NIM 2208541017, dari Kelas A, Prodi Matematika, angkatan 2022, di Univeritas Udayana.