# TUGAS MINGGU KEEMPAT (MATA KULIAH ALGORITMA DAN STRUKTUR DATA)

# 5.11 WHILE LOOP
   While loop adalah perulangan uncountable atau perulangan yang jumlah proses pengulangannya tidak ditentukan. Ia akan menjalankan baris kode di dalam blok kodenya secara terus menerus selama masih memenuhi ekspresi yang sudah ditentukan sebelumnya, yang berarti ia akan terus mengulang selama kondisi bernilai TRUE.

Berikut contoh latihan While loop:

In [1]:
#latihan while loop (1)

#pertama-tama kita inisialisasi nilai variabel a = 0
a = 0

#kemudian dilakukan perulangan dari a = 0 sampai nilai a kurang dari 5 (dengan menggunakan simbol "*")
while a < 5:
    print(a * "*")
    a += 1

#perulangan while di atas akan diulang sebanyak 5 kali, mulai dari a = 0 atau " ", a = 1 atau "*", a = 2 atau "**", a = 3 atau "***", hingga a = 4 atau "****".
#ketika nilai variabel counter a sudah mencapai 5 atau "*****", maka kondisi while a < 5 tidak terpenuhi lagi (FALSE), sehingga perulangan berhenti.

*
**
***
****

In [1]:
#latihan while loop (2)

#pertama-tama kita inisialisasi nilai variabel x = 0
x = 0

#kemudian dilakukan perulangan dari x = 0 sampai nilai x kurang dari 7
while x < 7:
    print("Angka " + str(x) + " masih dibawah 7")
    x += 1

#perulangan while di atas akan diulang sebanyak 7 kali, mulai dari x = 0, x = 1, x = 2, x = 3, x = 4, x = 5, hingga x = 6
#ketika nilai variabel counter a sudah mencapai 7, maka kondisi while a < 7 tidak terpenuhi lagi (FALSE), sehingga perulangan berhenti.

Angka 0 masih dibawah 7
Angka 1 masih dibawah 7
Angka 2 masih dibawah 7
Angka 3 masih dibawah 7
Angka 4 masih dibawah 7
Angka 5 masih dibawah 7
Angka 6 masih dibawah 7

In [7]:
#latihan while loop (3)

#pertama-tama kita inisialisasi nilai variabel i = 1
i = 1
x = int(input("Masukkan bilangan bulat x = "))

#kemudian dilakukan perulangan dari i = 1 sampai nilai yang kurang dari atau sama dengan nilai x
while i <= x:
    print(i)
    i += 1
    
#perulangan while di atas akan diulang sebanyak 10 kali, mulai dari i = 1 hingga i = 10
#ketika nilai variabel counter i sudah mencapai 10, maka perulangan akan berhenti.

Masukkan bilangan bulat x = 10
1
2
3
4
5
6
7
8
9
10

In [8]:
#latihan while loop (4)

#pertama-tama kita inisialisasi nilai variabel y = 100
y = 100
x = int(input("Masukkan bilangan bulat x = "))

#kemudian dilakukan perulangan dari y = 100 sampai nilai yang kurang dari atau sama dengan nilai x
while y <= x:
    print(y)
    y += 1
    
#perulangan while di atas akan diulang sebanyak 15 kali, mulai dari y = 100 hingga y = 115
#ketika nilai variabel counter i sudah mencapai 115, maka perulangan akan berhenti.

Masukkan bilangan bulat x = 115
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115

# 5.12 LIST DI PYTHON
   List dapat digunakan saat kita akan merepresentasikan objek di dalam Python baik berupa string maupun berupa angka. Ini akan banyak digunakan pada saat kita mengolah data pada Python. List dapat dipanggil urutannya, bahkan isinya dapat dirubah.

Berikut contoh latihan List di Python:

In [4]:
#latihan list di python (1)

#pertama-tama pikirkan dan buat list yang diinginkan
bunga = ["Mawar", "Melati", "Anggrek", "Teratai"]
#diurutkan dengan list yang dimulai dengan 0 (dari kiri ke kanan)
#urutan terakhir didefinisikan sebagai urutan ke -1 (dari kanan ke kiri)
#"Mawar" = list ke 0 atau ke -4
#"Melati" = list ke 1 atau ke -3
#"Anggrek" = list ke 2 atau ke -2
#"Teratai" = list ke 3 atau ke -1

#mencetak semua list
print(bunga)

['Mawar', 'Melati', 'Anggrek', 'Teratai']

In [5]:
#latihan list di python (2)

#dengan list yang sama pada latihan 1
#mencetak list urutan kedua
print(bunga[2])

Anggrek

In [6]:
#latihan list di python (3)

#dengan list yang sama pada latihan 1
#mencetak list urutan ke 0
print(bunga[0])

Mawar

In [7]:
#latihan list di python (4)

#dengan list yang sama pada latihan 1
#mencetak list urutan ke -2
print(bunga[-2])

Anggrek

In [8]:
#latihan list di python (5)

#dengan list yang sama pada latihan 1
bunga[-2] = "Jempiring"
#mencetak semua list dengan mengganti list pada ururan ke -2 dengan "Jempiring"
print(bunga)

['Mawar', 'Melati', 'Jempiring', 'Teratai']

In [16]:
#latihan list di python (6)

#karena list sudah diubah, maka dianggap urutan list akan bertambah 1
#"Mawar" = list ke 0 
#"Melati" = list ke 1 
#"Anggrek" = list ke 2 (urutannya tetep dihitung, tetapi pada list tidak akan ditampilkan)
#"Jempiring" = list ke 3
#"Teratai" = list ke 4

#mencetak list urutan ke 0 sampai list urutan ke 3
print(bunga[0:3])

['Mawar', 'Melati', 'Jempiring']

In [17]:
#latihan list di python (7)

#list masih sama dengan list pada latihan 5
#penjelasan urutan list juga sama pada latihan 6
#karena tidak merubah list

#mencetak list urutan ke 1 sampai list urutan ke 4
print(bunga[1:4])

['Melati', 'Jempiring', 'Teratai']

In [1]:
#latihan list di python (8)

#pertama-tama pikirkan dan buat list yang diinginkan
data = [1,2,4,6,3,5,8,9,7]
terbesar = data[0]

#mencari nilai terbesar dari suatu list dalam data
for angka in data:
    if angka > terbesar:
        terbesar = angka
print(terbesar)
#sehingga hasil outputnya akan langsung menunjukkan nilai terbesar dari suatu list yang sudah dibuat

9

In [2]:
#latihan list di python (9)

#pertama-tama pikirkan dan buat list yang diinginkan dengan data anggota kembar
angka = [1,2,4,5,3,3,6,7,6,8,5,8,4,2,8,4]
angka_unik = []

#membuat list dengan tidak ada anggota yang kembar
for anggota in angka:
    if anggota not in angka_unik:
        angka_unik.append(anggota)
print(angka_unik)
#sehingga hasil outputnya akan menunjukkan list data yang sudah dibuat tetapi anggotanya tidak ada yang kembar
#urutan list outputnya juga akan sama pada list yang sudah dibuat, hanya saja menghilangkan 1 anggota yang nilainya kembar

[1, 2, 4, 5, 3, 6, 7, 8]

# 5.13 METODA LIST
Karena list merupakan objek, maka keberadaannya dapat dimanipulasi dengan menambahkan atau menghilangkan isi nya.

Berikut contoh latihan Metoda List:

In [13]:
#latihan metoda list (1)

#fungsi append hanya menerima satu parameter saja. 
#parameter tersebut dimasukkan sebagai nilai baru pada list dan nilai baru tersebut berada pada akhir item.

#pertama-tama pikirkan dan buat list yang diinginkan
nama = ["Vina", "Putri", "Saras"]

#kemudian kita melakukan penambahan data list baru dari sekumpulan data list di atas yang sudah dibuat
#penambahan data list yang dimasukkan adalah "Kumala"
nama.append("Kumala")
print(nama)
#setelah dicetak jumlah list berjumlah dari 3 data akan menjadi 4 data

['Vina', 'Putri', 'Saras', 'Kumala']

In [14]:
#latihan metoda list (2)

#penggunaan fungsi insert dipakai untuk memasukkan data baru di bagian yang kita inginkan.

#data list masih sama dengan latihan 1
#terdapat 4 data list dengan urutan dari 0-3
#"Vina" = urutan ke 0
#"Putri" = urutan ke 1
#"Saras" = urutan ke 2
#"Kumala" = urutan ke 3

#mencetak dengan menyisipkan data list baru yaitu "Winda" pada posisi indeks ke 0
nama.insert(0,"Winda")
print(nama)
#setelah dicetak jumlah data list berjumlah 5 data

['Winda', 'Vina', 'Putri', 'Saras', 'Kumala']

In [15]:
#latihan metoda list (3)

#fungsi remove digunakan untuk menghapus list yang tidak diinginkan

#data list masih sama dengan latihan 2
#terdapat 5 data list dengan urutan dari 0-4
#"Winda" = urutan ke 0
#"Vina" = urutan ke 1
#"Putri" = urutan ke 2
#"Saras" = urutan ke 3
#"Kumala" = urutan ke 4

#mencetak data list dengan menghapus salah satu data list yaitu "Vina"
nama.remove("Vina")
print(nama)

['Winda', 'Putri', 'Saras', 'Kumala']

In [16]:
#latihan metoda list (4)

#data list masih sama dengan latihan 3
#terdapat 4 data list dengan urutan dari 0-3
#"Winda" = urutan ke 0
#"Putri" = urutan ke 1
#"Saras" = urutan ke 2
#"Kumala" = urutan ke 3

#menentukan True or False
#mencetak apakah dalam list terdapat "Vina"
print("Vina" in nama) #karena data list dalam latihan (3) tidak terdapat "Vina", maka bernilai False

False

In [17]:
#latihan metoda list (5)

#data list masih sama dengan latihan 3
#terdapat 4 data list dengan urutan dari 0-3
#"Winda" = urutan ke 0
#"Putri" = urutan ke 1
#"Saras" = urutan ke 2
#"Kumala" = urutan ke 3

#menentukan True or False
#mencetak apakah dalam list terdapat "Kumala"
print("Kumala" in nama) #karena data list pada latihan 3 terdapat "Kumala", maka bernilai True

True

In [18]:
#latihan metoda list (6)

#data list masih sama dengan latihan 3

#menentukan jumlah list data
print(len(nama)) #karena terdapat 4 data list, maka outputnya bernilai 4

4

# 5.14 FOR LOOP
Pengulangan for pada Python memiliki kemampuan untuk mengulangi item dari urutan apapun.

Berikut contoh latihan For loop:

In [19]:
#latihan For loop (1)

#pertama-tama pikirkan dan buat list yang diinginkan
bunga = ["Mawar", "Melati", "Anggrek", "Teratai"]

#membuat perulangan data list pada data "bunga"
for jenis in bunga:
    print(jenis)

Mawar
Melati
Anggrek
Teratai

In [1]:
#latihan For loop (2)

#pertama-tama pikirkan dan buat list yang diinginkan
angka = [1, 2, 3, 4, 5] #tidak perlu diisi dengan tanda '" "' karena list yang dimasukkan bukan berupa kata, melainkan angka

#membuat perulangan data list pada data "angka"
for x in angka:
    print(x)

1
2
3
4
5

In [2]:
#latihan For loop (3)

#pertama-tama pikirkan dan buat list yang diinginkan
buah = ["nanas", "apel", "jeruk"]

#membuat perulangan data list pada data "buah", dengan menambahkan kata-kata yang diinginkan
for makanan in buah:
    print("Saya suka makan buah", makanan)

Saya suka makan buah nanas
Saya suka makan buah apel
Saya suka makan buah jeruk

In [6]:
#latihan For loop (4)

#pertama-tama pikirkan dan buat list yang diinginkan
daerah = ["Provinsi Bali", "Kabupaten Tabanan", "Kecamatan Kediri"]

#membuat perulangan data list pada data "daerah", dengan menggunakan kata-kata yang diinginkan
for asal in daerah:
    print("Saya berasal dari", asal)

Saya berasal dari Provinsi Bali
Saya berasal dari Kabupaten Tabanan
Saya berasal dari Kecamatan Kediri

# 5.15 FUNGSI RANGE
Fungsi range berguna untuk membangkitkan bilangan berurutan atau berpola yang kita inginkan. Untuk menuliskannya, perlu dikombinasikan dengan for loop.

Pada fungsi range:
range(stop)
range(start, stop, step)

Argumen start adalah bilangan pertama yang diinginkan. Tapi, jika range() dipanggil hanya dengan satu argumen, maka Python akan menganggap start = 0. 
Argumen stop adalah batas akhir dari dari nilai yang diinginkan. Nilai dari stop tidak termasuk ke dalam nilai yang dibuatkan oleh fungsi range().
Argumen step adalah jumlah loncatan yang diinginkan. Mulai dari nilai awal menuju batas nilai akhir dengan nilai loncatan yang diinginkan tersebut.

Berikut contoh latihan Fungsi Range:

In [23]:
#latihan fungsi range (1)

#dalam latihan ini, kita meminta nilai dari range(9)
angka = range(9)
print(angka)
#sesuai dengan penjelasan pada pendahuluan, maka output atau hasilnya adalah range(0, 9)
#karena kita meminta nilai yang dimulai dari 0 hingga 8, yang sama artinya dengan range(0, 9)

range(0, 9)

In [24]:
#latihan fungsi range (2)

#masih sama dengan fungsi range pada latihan 1, yaitu meminta nilai dari range(9)
for isi in angka:
    print(isi)
#sesuai dengan penjelasan pada latihan 1, sudah dipastikan bahwa outputnya adalah nilai yang dimulai dari 0 hingga 8 (dari 0 hingga sebelum 9)

0
1
2
3
4
5
6
7
8

In [25]:
#latihan fungsi range (3)

#dalam latihan ini, kita meminta nilai start = 4 dan nilai stop = 9
#atau kata lain, kita meminta nilai dari 4 hingga 8 (dari 4 hingga sebelum 9)
for isi in range(4,9):
    print(isi)

4
5
6
7
8

In [29]:
#latihan fungsi range (4)

#dalam latihan ini, kita meminta nilai start = 0, stop = 15, dengan step = 3
#atau kata lain, kita meminta nilai awal adalah 0 hingga batas akhir adalah 14, dengan nilai loncatan adalah 3
for isi in range(0,15,3):
    print(isi)

0
3
6
9
12

In [3]:
#latihan fungsi range (5)

#dalam latihan ini, kita meminta nilai start = -1, stop = 5, dengan step = 2
#atau kata lain, kita meminta nilai awal adalah -1 hingga batas akhir adalah 5, dengan nilai loncatan adalah 2
for isi in range(-1,5,2):
    print(isi)

-1
1
3